<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>접근 거부</title>
</head>
<body>
      <br><br>
      <div class="container text-center">
          <h1>접근 거부됨</h1><br>
      </div>
      <br><br>
      <div class="container text-center">
          <h6 class="font-italic text-danger">권한이 없어 접근이 불가합니다.<br>관리자에게 문의하세요.</h6>
      </div>
      <br><br>
      <sec:authorize access="isAnonymous()">
      	<p>아직 로그인하지 않으셨나요?</p> <a href="/security/login">로그인하러 가기</a>
      </sec:authorize>
      <div class="container text-center">
        <a href='<c:url value="/"/>' class="text-dark"><i class="fas fa-undo"></i></a>
      </div>
</body>
</html>