<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<title>로그인 페이지</title>
</head>
<body class="signup-pages">

	<div class="signup-box">
		<div class="signup-logo">
			<a href="/"><b>D</b>n<b>F</b> <b>L</b>o<b>L</b></a>
		</div>

		<div class="signup-box-body">
			<p class="box-msg">로그인 양식</p>

			<form class="px-4 py-3" action='<c:url value="/security/loginProcess"/>' method="post">
				<div class="form-group">
					<label for="exampleDropdownFormEmail1">아이디</label> 
					<input type="text" class="form-control" name="loginID" placeholder="ID" value="${uid }">
				</div>
				<div class="form-group">
					<label for="exampleDropdownFormPassword1">비밀번호</label> 
					<input type="password" class="form-control" name="loginPW" placeholder="Password" value="${pw }">
				</div>
				<c:if test="${not empty ERRORMSG}">
					<font color="red">
						<p>
						</p>
					</font>
				</c:if>
				<div class="form-check">
					<label class="form-check-label"> 
						<input type="checkbox" class="form-check-input"> 아이디 기억하기
					</label>
				</div>
				<input name="${_csrf.parameterName}" type="hidden" value="${_csrf.token}" />
				<div class="dropdown-divider pull-right"></div>
			<a class="dropdown-item pull-right" href="/user/signup/step1">회원가입하기</a>
				<button type="submit" class="btn btn-primary">로그인</button>
			</form>
			
		</div>

	</div>

</body>
</html>