<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="DApplyMapper">

	<insert id="create">
		INSERT INTO DApply (
			dcharId, dcname, dgroupId, dgroupName
		) VALUES (
			#{dcharId}, #{dcname}, #{dgroupId}, #{dgroupName}
		)
	</insert>
	
	<select id="read" resultType="com.project.dnflol.DTO.DApplyDTO">
		SELECT *
		FROM DApply
		WHERE dcharId = #{dcharId} AND dgroupId = #{dgroupId}
	</select>
	
	<select id="readAllByGroupId" resultType="com.project.dnflol.DTO.DApplyDTO">
	<![CDATA[
		SELECT *
		FROM DApply
		WHERE dgroupId = #{dgroupId}
		ORDER BY dapplyID DESC
	]]>
	</select>
	
	<select id="readAllMyApply" resultType="com.project.dnflol.DTO.DApplyDTO">
		SELECT *
		FROM DApply
		WHERE dapplyResult = 'NO' AND dgroupId IN (SELECT dgroupId
												   FROM DGroup
												   WHERE dgroupOwner IN (SELECT dcharId
																		 FROM DChar, User
																		 WHERE DChar.uid = User.uid And user.uid = #{uid}))
		ORDER BY dapplyId DESC
	</select>
	
	<update id="updateDapplyResult">
		UPDATE DApply
		SET dapplyResult = #{dapplyResult}
		WHERE dapplyId = #{dapplyId} AND dgroupId = #{dgroupId}
	</update>
	
	<delete id="delete">
		DELETE FROM DApply 
		WHERE dapplyId = #{dapplyId} AND dgroupId = #{dgroupId}
	</delete>

</mapper>