<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="DApplyMapper">

	<insert id="create">
		INSERT INTO DApply (
			dcharId, dcname, dgroupId, dgroupName
		) VALUES (
			#{dcharId}, #{dcname}, #{dgroupId}, #{dgroupName}
		)
	</insert>
	
	<insert id="createToAccepted">
		INSERT INTO DApply (
			dcharId, dcname, dgroupId, dgroupName, dapplyResult
		) VALUES (
			#{dcharId}, #{dcname}, #{dgroupId}, #{dgroupName}, 'ACCEPTED'
		)
	</insert>
	
	<select id="read" resultType="com.project.dnflol.DTO.DApplyDTO">
		SELECT *
		FROM DApply
		WHERE dcharId = #{dcharId} AND dgroupId = #{dgroupId}
	</select>
	
	<select id="readById" resultType="com.project.dnflol.DTO.DApplyDTO">
		SELECT *
		FROM DApply
		WHERE dapplyId = #{dapplyId}
	</select>
	
	<select id="readAcceptedCountByGroupId" resultType="int">
		SELECT Count(*)
		FROM DGroup, DApply
		WHERE DGroup.dgroupId = DApply.dgroupId AND DGroup.dgroupId = #{dgroupId} AND dapplyResult = 'ACCEPTED'
	</select>
	
	<select id="readAllByGroupId" resultType="com.project.dnflol.DTO.DApplyDTO">
	<![CDATA[
		SELECT *
		FROM DApply
		WHERE dgroupId = #{dgroupId}
		ORDER BY dapplyID DESC
	]]>
	</select>
	
	<select id="readAllMyApply" resultType="com.project.dnflol.DTO.DApplyDTO">
		SELECT *
		FROM DApply
		WHERE dapplyResult = 'NO' AND dgroupId IN (SELECT dgroupId
												   FROM DGroup
												   WHERE dgroupOwner IN (SELECT dcharId
																		 FROM DChar, User
																		 WHERE DChar.uid = User.uid And user.uid = #{uid}))
		ORDER BY DapplyId DESC
	</select>
	
	<select id="readAllAcceptedByGroupId" resultType="com.project.dnflol.DTO.DApplyDTO">
		SELECT DApply.*
		FROM DApply, DGroup
		WHERE DApply.dgroupId = DGroup.dgroupId AND DGroup.dgroupId = #{dgroupId} AND dapplyResult = 'ACCEPTED'
	</select>
	
	<update id="updatedapplyResult">
		UPDATE DApply
		SET dapplyResult = #{dapplyResult}
		WHERE dapplyId = #{dapplyId} AND dgroupId = #{dgroupId}
	</update>
	
	<delete id="delete">
		DELETE FROM DApply
		WHERE dapplyId = #{dapplyId} AND dgroupId = #{dgroupId}
	</delete>

</mapper>