<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="DCharMapper">

	<insert id="create">
		INSERT INTO DChar (
			dcname, uid,dcharId,dcserver
		) VALUES (
			#{dcname}, #{uid} ,#{dcharId},#{dcserver}
		)
	</insert>
	
	<select id="readByName" resultType="com.project.dnflol.DTO.DCharDTO">
		SELECT *
		FROM DChar
		WHERE dcname = #{dcname}
	</select>
	
	<select id="readById" resultType="com.project.dnflol.DTO.DCharDTO">
		SELECT *
		FROM DChar
		WHERE dcharId = #{dcharId}
	</select>
	
	<select id="readByNametocid" resultType="com.project.dnflol.DTO.DCharDTO">
		SELECT *
		FROM DChar
		WHERE dcharId = #{dcharId}
	</select>
	
	<select id="readAllByUId" resultType="com.project.dnflol.DTO.DCharDTO">
	<![CDATA[
		SELECT *
		FROM DChar
		WHERE uid = #{uid}
	]]>
	</select>
	
	<select id="readAllAppliedByUid" resultType="com.project.dnflol.DTO.DCharDTO">
		SELECT *
		FROM DChar
		WHERE uid = #{uid} AND dcname IN (SELECT DApply.dcname
											FROM DApply, DGroup
											WHERE DApply.dgroupId = DGroup.dgroupId AND DApply.dgroupId = #{groupId})
		ORDER BY dcname
	</select>
	
	<select id="readAllNotAppliedByUid" resultType="com.project.dnflol.DTO.DCharDTO">
		SELECT *
		FROM Dchar
		WHERE uid = #{uid} AND dcname NOT IN (SELECT DApply.dcname
												FROM DApply, DGroup
												WHERE DApply.dgroupId = DGroup.dgroupId AND DApply.dgroupId = #{groupId})
		ORDER BY dcname
	</select>
	
	<select id = "readAllAppliedByGroupId" resultType="com.project.dnflol.DTO.DCharDTO">
		SELECT *
		FROM DChar
		WHERE dcharId IN (SELECT DApply.dcharId
							FROM DApply, DGroup
							WHERE DApply.dgroupId = DGroup.dgroupId AND DApply.dgroupId = #{dgroupId} AND DGroup.dgroupId = #{dgroupId})
		ORDER BY dcharId	
	</select>
	
	<delete id="deleteByName">
		DELETE FROM DChar
		WHERE dcname = #{dcname}
	</delete>
	
	<delete id="deleteById">
		DELETE FROM DChar
		WHERE dcharId = #{dcharId}
	</delete>

</mapper>