<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="DGroupMapper">

	<insert id="create">
		INSERT INTO DGroup (
			dgroupOwner, dgroupType, dgroupMax, dgroupName, dgroupDate, dgroupDetail
		) VALUES (
			#{dgroupOwner}, #{dgroupType}, #{dgroupMax}, #{dgroupName}, #{dgroupDate}, #{dgroupDetail}
		)
	</insert>
	
	<select id="readById" resultType="com.project.dnflol.DTO.DGroupDTO">
		SELECT dgroupId, dgroupOwner, dgroupType, dgroupMax, dgroupName, dgroupDate, dgroupDetail
		FROM DGroup
		WHERE dgroupId = #{dgroupId}
		ORDER BY dgroupDate DESC
	</select>
	
	<select id="readdgroupId" resultType="Integer">
		SELECT dgroupId
		FROM DGroup
		WHERE dgroupOwner = #{dgroupOwner}, dgroupType = #{dgroupType}, dgroupName = #{dgroupName}, dgroupDetail = #{dgroupDetail}, dgroupDate = #{dgroupDate}
	</select>
	<select id="readAllByOwnerName" resultType="com.project.dnflol.DTO.DGroupDTO">
	<![CDATA[
		SELECT dgroupId, dgroupOwner, dgrouptype, dgroupMax, dgroupName, dgroupDate, dgroupDetail
		FROM DGroup
		WHERE dgroupOwner LIKE CONCAT('%',#{ownerName},'%')
		ORDER BY dgroupDate DESC
	]]>
	</select>
	
	<select id="readAllByDetail" resultType="com.project.dnflol.DTO.DGroupDTO">
	<![CDATA[
		SELECT dgroupId, dgroupOwner, dgroupType, dgroupMax, dgroupName, dgroupDate, dgroupDetail
		FROM DGroup
		WHERE dgroupDetail LIKE CONCAT('%',#{dgroupDetail},'%')
		ORDER BY dgroupDate DESC
	]]>
	</select>
	
	<select id="readAllByGroupName" resultType="com.project.dnflol.DTO.DGroupDTO">
	<![CDATA[
		SELECT dgroupId, dgroupOwner, dgroupType, dgroupMax, dgroupName, dgroupDate, dgroupDetail
		FROM DGroup
		WHERE dgroupName Like CONCAT('%',#{dgroupName},'%')
		ORDER BY dgroupDate DESC
	]]>
	</select>
	
	<select id="readAllByUId" resultType="com.project.dnflol.DTO.DGroupDTO">
	<![CDATA[
		SELECT dgroupId, dgroupOwner, dgroupType, dgroupMax, dgroupName, dgroupDate, dgroupDetail
		FROM DGroup, DChar
		WHERE DGroup.dgroupOwner = DChar.dcharName AND DChar.uid = #{uid}
	]]>
	</select>
	
	<select id="readLimitList" resultType="com.project.dnflol.DTO.DGroupDTO">
	<![CDATA[
		SELECT dgroupId, dgroupOwner, dgroupType, dgroupMax, dgroupName, dgroupDate, dgroupDetail
		FROM DGroup
		ORDER BY dgroupDate DESC
		LIMIT #{min}, #{max}
	]]>
	</select>
	
	<select id="readMaxCount" resultType="int">
		SELECT Count(*)
		FROM DGroup
	</select>
	
	<update id="updateType">
		UPDATE DGroup
		SET dgroupType = #{dgroupType}, dgroupMax = #{dgroupMax}
		WHERE dgroupId = #{dgroupId}
	</update>
	
	<delete id="deleteById">
		DELETE FROM DGroup
		WHERE dgroupId = #{dgroupId}
	</delete>

</mapper>