<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="LApplyMapper">

	<insert id="create">
		INSERT INTO LApply (
			lcharName, lgroupId, lgroupName
		) VALUES (
			#{lcharName}, #{lgroupId}, #{lgroupName}
		)
	</insert>
	
	<insert id="createToAccepted">
		INSERT INTO LApply (
			lcharName, lgroupId, lgroupName, lapplyResult
		) VALUES (
			#{lcharName}, #{lgroupId}, #{lgroupName}, 'ACCEPTED'
		)
	</insert>
	
	<select id="read" resultType="com.project.dnflol.DTO.LApplyDTO">
		SELECT *
		FROM LApply
		WHERE lcharName = #{lcharName} AND lgroupId = #{lgroupId}
	</select>
	
	<select id="readAcceptedCountByGroupId" resultType="int">
		SELECT Count(*)
		FROM LGroup, LApply
		WHERE LGroup.lgroupId = LApply.lgroupId AND LGroup.lgroupId = #{lgroupId} AND lapplyResult = 'ACCEPTED'
	</select>
	
	<select id="readAllByGroupId" resultType="com.project.dnflol.DTO.LApplyDTO">
	<![CDATA[
		SELECT *
		FROM LApply
		WHERE lgroupId = #{lgroupId}
		ORDER BY lapplyID DESC
	]]>
	</select>
	
	<select id="readAllMyApply" resultType="com.project.dnflol.DTO.LApplyDTO">
		SELECT *
		FROM LApply
		WHERE lapplyResult = 'NO' AND lgroupId IN (SELECT lgroupId
												   FROM LGroup
												   WHERE lgroupOwner IN (SELECT lcharName
																		 FROM LChar, User
																		 WHERE LChar.uid = User.uid And user.uid = #{uid}))
		ORDER BY lapplyId DESC
	</select>
	
	<update id="updatelapplyResult">
		UPDATE LApply
		SET lapplyResult = #{lapplyResult}
		WHERE lapplyId = #{lapplyId} AND lgroupId = #{lgroupId}
	</update>
	
	<delete id="delete">
		DELETE FROM LApply
		WHERE lapplyId = #{lapplyId} AND lgroupId = #{lgroupId}
	</delete>

</mapper>