<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="LCharMapper">

	<insert id="create">
		INSERT INTO LChar (
			lcharName, uid
		) VALUES (
			#{lcharName}, #{uid}
		)
	</insert>
	
	<select id="readByName" resultType="com.project.dnflol.DTO.LCharDTO">
		SELECT uid, lcharName
		FROM LChar
		WHERE lcharName = #{lcharName}
	</select>
	
	<select id="readAllByUId" resultType="com.project.dnflol.DTO.LCharDTO">
	<![CDATA[
		SELECT uid, lcharName
		FROM LChar
		WHERE uid = #{uid}
		ORDER BY lcharName
	]]>
	</select>
	
	
	<select id="readAllAppliedByUid" resultType="com.project.dnflol.DTO.LCharDTO">
		SELECT uid, lcharName
		FROM LChar
		WHERE uid = #{uid} AND lcharName IN (SELECT LApply.lcharName
											FROM LApply, LGroup
											WHERE LApply.lgroupId = LGroup.lgroupId AND LApply.lgroupId = #{groupId} AND LGroup.lgroupId = #{groupId})
		ORDER BY lcharName
	</select>
	
	<select id="readAllNotAppliedByUid" resultType="com.project.dnflol.DTO.LCharDTO">
		SELECT uid, lcharName
		FROM LChar
		WHERE uid = #{uid} AND lcharName NOT IN (SELECT LApply.lcharName
												FROM LApply, LGroup
												WHERE LApply.lgroupId = LGroup.lgroupId AND LApply.lgroupId = #{groupId} AND LGroup.lgroupId = #{groupId})
		ORDER BY lcharName
	</select>
	
	<select id = "readAllAppliedByGroupId" resultType="com.project.dnflol.DTO.LCharDTO">
		SELECT uid, lcharName
		FROM LChar
		WHERE lcharName IN (SELECT lcharName
							FROM LApply, LGroup
							WHERE LApply.lgroupId = LGroup.lgroupId AND LApply.lgroupId = #{lgroupId} AND LGroup.lgroupId = #{lgroupId})
		ORDER BY lcharName	
	</select>
	
	<delete id="deleteByName">
		DELETE FROM LChar
		WHERE lcharName = #{lcharName}
	</delete>

</mapper>