<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="LGroupMapper">

	<insert id="create">
		INSERT INTO LGroup (
			lgroupOwner, lgroupType, lgroupMax, lgroupName, lgroupDate, lgroupDetail
		) VALUES (
			#{lgroupOwner}, #{lgroupType}, #{lgroupMax}, #{lgroupName}, #{lgroupDate}, #{lgroupDetail}
		)
	</insert>
	
	<select id="readById" resultType="com.project.dnflol.DTO.LGroupDTO">
		SELECT lgroupId, lgroupOwner, lgroupType, lgroupMax, lgroupName, lgroupDate, lgroupDetail
		FROM LGroup
		WHERE lgroupId = #{lgroupId}
		ORDER BY lgroupDate DESC
	</select>
	
	<select id="readlgroupId" resultType="Integer">
		SELECT lgroupId
		FROM LGroup
		WHERE lgroupOwner = #{lgroupOwner}, lgroupType = #{lgroupType}, lgroupName = #{lgroupName}, lgroupDetail = #{lgroupDetail}, lgroupDate = #{lgroupDate}
	</select>
	<select id="readAllByOwnerName" resultType="com.project.dnflol.DTO.LGroupDTO">
	<![CDATA[
		SELECT lgroupId, lgroupOwner, lgrouptype, lgroupMax, lgroupName, lgroupDate, lgroupDetail
		FROM LGroup, LChar
		WHERE LGroup.lgroupOnwer = LChar.lcharId AND LChar.lcharName = #{onwerName}
		ORDER BY lgroupDate DESC
	]]>
	</select>
	
	<select id="readAllByDetail" resultType="com.project.dnflol.DTO.LGroupDTO">
	<![CDATA[
		SELECT lgroupId, lgroupOwner, lgroupType, lgroupMax, lgroupName, lgroupDate, lgroupDetail
		FROM LGroup
		WHERE lgroupDetail LIKE CONCAT('%',#{lgroupDetail},'%')
		ORDER BY lgroupDate DESC
	]]>
	</select>
	
	<select id="readAllByGroupName" resultType="com.project.dnflol.DTO.LGroupDTO">
	<![CDATA[
		SELECT lgroupId, lgroupOwner, lgroupType, lgroupMax, lgroupName, lgroupDate, lgroupDetail
		FROM LGroup
		WHERE lgroupName Like CONCAT('%',#{lgroupName},'%')
		ORDER BY lgroupDate DESC
	]]>
	</select>
	
	<select id="readAllByUId" resultType="com.project.dnflol.DTO.LGroupDTO">
	<![CDATA[
		SELECT lgroupId, lgroupOwner, lgroupType, lgroupMax, lgroupName, lgroupDate, lgroupDetail
		FROM LGroup, LChar
		WHERE LGroup.lgroupOnwer = LChar.lcharId AND LChar.uid = #{uid}
	]]>
	</select>
	
	<select id="readLimitList" resultType="com.project.dnflol.DTO.LGroupDTO">
	<![CDATA[
		SELECT lgroupId, lgroupOwner, lgroupType, lgroupMax, lgroupName, lgroupDate, lgroupDetail
		FROM LGroup
		ORDER BY lgroupDate DESC
		LIMIT #{min}, #{max}
	]]>
	</select>
	
	<select id="readMaxCount" resultType="int">
		SELECT Count(*)
		FROM LGroup
	</select>
	
	<update id="updateType">
		UPDATE LGroup
		SET lgroupType = #{lgroupType}, lgroupMax = #{lgroupMax}
		WHERE lgropuID = #{lgropuID}
	</update>
	
	<delete id="deleteById">
		DELETE FROM LGroup
		WHERE lgropuId = #{lgropuId}
	</delete>

</mapper>