<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	
<mapper namespace="UserMapper">

	<insert id="create">
		INSERT INTO User (
			uid, uname, eamil, pw
		) VALUES (
			#{uid}, #{uname}, #{email}, #{pw}
		)
	</insert>
	
	<select id="readById" resultType="com.project.dnflol.dto.UserDTO">
		SELECT uid, uname, eamil, pw
		FROM User
		WHERE uid = #{uid}
	</select>
	
	<select id="readByName" resultType="com.project.dnflol.dto.UserDTO">
		SELECT uid, uname, eamil, pw
		FROM User
		WHERE uname = #{uname}
	</select>
	
	<select id="readByEmail" resultType="com.project.dnflol.dto.UserDTO">
		SELECT uid, uname, eamil, pw
		FROM User
		WHERE email = #{email}
	</select>
	
	<update id="updatePw">
		UPDATE User
		SET pw = #{pw}
		WHERE uid = #{uid}
	</update>
	
	<update id="updateName">
		UPDATE User
		SET uname = #{uname}
		WHERE uid = #{uid}
	</update>
	
	<delete id="delete">
		DELETE FROM User
		WHERE uid = #{uid}
	</delete>

</mapper>